body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.header-box {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9faf8;
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-logo-text {
    font-size: 24px;
    font-weight: 900;
    margin-left: 122px;
    margin-right: 122px;
}

.header-link-text {
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
}

.header-links {
    margin: 20px;
}

.description-box {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.description-left {
    width: 500px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 122px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 122px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-secondary-text {
    color: #e5e7eb;
    margin-bottom: 10px;
}

.description-button .sign-up {
    width: 100px;
    font-weight: 900;
    font-size: 16px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
}

.description-text {
    color: #e5e7eb;
    background-color: grey;
    display: flex;
    margin: 50px;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex: 0 0 auto;
}

.information-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.info-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sub-text {
    text-align: center;
}

.quote-box {
    background-color: #e5e7eb;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.main-quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 15px;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

.call-to-action-box {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    margin: 30px
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    border-radius: 25px;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.cta-text-top {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.cta-text-bottom {
    font-size: 18px;
    font-weight: 200;
    color: #f9faf8;
}

.cta-button {
    display: flex;
    flex-grow: 1;
    margin-left: 50px;
}

.sign-up {
    font-weight: bold;
    padding: 7px;
    border-radius: 25px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
}

.footer-box {
    font-size: 15px;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 20px
}