body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.header-box {
    display: flex;
    background-color: beige;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header-link-text {
    display: flex;
    flex-direction: row;
}

.header-links {
    margin: 20px
}

.description-box {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

.description-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-text {

}

.hero-secondary-text {

}

.button-sign-up {
    display: flex;
    width: 50px
}

.description-text {
    display: flex;
    padding: 50px;
    align-items: center
}

.information-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
}

.information-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.info-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 20px;
}

.quote-box {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.call-to-action-box {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
}

.cta-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.cta-button {
    display: flex;
    flex-grow: 1;
}

.footer-box {
    text-align: center;
    padding: 20px
}